h1, h2, h3, h4, h5, a {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 340vh;
  background-image: linear-gradient(
    to bottom right,
    #023e8a 0%,
    #5fa8d3 20%,
    #0a1128 40%,
    #001f54 60%,
    #5fa8d3 70%
  );

  background-size: 200% 200%;
  animation: movimiento 15s linear infinite alternate;
}
@keyframes movimiento {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.containerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(12, 8, 1, 0.252);
  border-radius: 15px;
  margin: 0 80px ;
}

.containerButtons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
  border-radius: 1px;
}

.refreshButton {
  height: 40px;
  width: 200px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color:#081f2251 ;
  color: aliceblue;
}

.refreshButton:hover {
  transition: 1s;
  background-color: #02282d;
  color: rgb(238, 243, 243);
}

.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin: 20px;
  padding: 0;
  height: 40px;
}

.filterBar select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(61, 110, 156);
}

.filterBar option {
  color: white;
}