h1, h2, h3, h4, h5, a {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 340vh;
  background-image: 
    linear-gradient
      (to right, 
      #a8dadc, 
      #92c8d0, 
      #7db7c4, 
      #6aa5b9, 
      #5993ad, 
      #4c819b, 
      #3f7089, 
      #325f78, 
      #254a5e, 
      #193745, 
      #0e242e,
      #001219);
}

.containerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(12, 8, 1, 0.252);
  border-radius: 15px;
  margin: 0 85px;
}

.containerButtons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
  border-radius: 1px;
}

.refreshButton {
  height: 40px;
  width: 200px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color:#081f2251 ;
  color: aliceblue;
}

.refreshButton:hover {
  transition: 1s;
  background-color: #02282d;
  color: rgb(238, 243, 243);
}

.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin: 20px;
  padding: 0;
  height: 40px;
}

.filterBar select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(61, 110, 156);
}

.filterBar option {
  color: white;
}