.container {
  background-color: rgba(0, 0, 0, 0.276);
}
.containerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRefreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-family: 'Bungee';
  font-size: 20px;
  -webkit-text-stroke: 1px black;
  color: rgba(5, 22, 22, 0.986);
  border-radius: 999px;
  border: 1px solid #B2EBF2;
  background-color: transparent;
}

.refreshButton:hover {
  transition: 1s;
  background-color: #02282d;
  color: black;
  border: 1px solid black;
}

.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
}

.filterBar select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  font-family: 'Bungee';
  font-size: 15px;
  color: rgba(1, 8, 8, 0.787);
  border: solid 1px;
  background-color: transparent;
}

select,
option {
  color: black;
}

.linkCreate {
  font-family: 'Bungee';
  font-size: 18px;
  color: rgba(1, 14, 14, 0.986);
  /* border: 1px solid #021416c8; */
  border-radius: 3px;
  text-decoration: none;
  margin: 20px;
}

.linkCreate:hover {
  transition: 1s;
  background-color: #B2EBF2;
  color: black;
  border: 1px solid black;
}

h1, h2, h3, h4 , h5, a {
  margin: 0;
  text-decoration: none;
}